[Desktop Entry]
Type=Application
Name=WeBook
GenericName=WeBook
Comment=WeBook is Pronounced Web Book and its by the Light Wizzard in the Flesh
Icon=WeBook
Exec=bin/WeBook
Terminal=false
Categories=Office;
Keywords=calculator;
Name[en_US]=WeBook.desktop
