[Desktop Entry]
Type=Application
Name=WeBook
GenericName=WeBookClient
Comment=WeBookClient is Pronounced Web-Book-Client and its by the Light Wizzard in the Flesh
Icon=WeBookClient
Exec=usr/bin/WeBookClient
Terminal=false
Categories=Office;
Keywords=calculator;
Name[en_US]=WeBookClient.desktop
